<div class="col cuerpo" id="registrar">
  <h4>Registrar Rescate</h4>
  <!-- <form action="">
    <div class="form-group">
      <label for="nombreAnimal">Nombre de animal rescatado
        <span>*</span>:</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="nombreAnimal">Fecha de Rescate
        <span>*</span>:</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="nombreAnimal">Ubicación de rescate
        <span>*</span>:</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="nombreAnimal">Detalles de rescate
        <span>*</span>:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="nombreAnimal">Veterinario
        <span>*</span>:</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="nombreAnimal">Laika
        <span>*</span>:</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="nombreAnimal">Seguimiento
        <span>*</span>:</label>
      <select class="form-control" name="" id="">
        <option value="">En Veterinario</option>
        <option value="">Rescatado</option>
        <option value="">Adoptado</option>
      </select>
    </div>
  </form> -->
  <button class="btn btn-primary">Subir</button>
</div>